
<p id="notice"><%= notice %></p>

<h1><%= t('coin') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="coin-image"><%= t('activerecord.attributes.coin.image') %></th>
      <th><%= t('activerecord.attributes.coin.description') %> </th>
      <th><%= t('activerecord.attributes.coin.acronym') %></th>
      <th><%= t('activerecord.attributes.coin.value') %></th