
<p id="notice"><%= notice %></p>

<h1><%= t('coin') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="coin-image"><%= t('activerecord.attributes.coin.image') %></th>
      <th><%= t('activerecord.attributes.coin.description') %> </th>
      <th><%= t('activerecord.attributes.coin.acronym') %></th>
      <th><%= t('activerecord.attributes.coin.value') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><img src="<%= coin.url_image %> "width=35 height=35 /></td>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td id="coin-<%= coin.id %>"><%= render "coin_value", coin: coin %>
          <%= form_tag(coins_path, method: :get , id: "value-form", remote: true) do %>
            <%= hidden_field_tag "acronym", "#{coin.acronym}"%>
          <% end %></td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: 'You sure bout dat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.coin'), new_coin_path, class:"btn btn-primary" %>
<%= link_to t('links.back'), root_path, class:"btn btn-secondary" %>

<script>
  value_form = document.querySelectorAll("#value-form");
  const interval = setInterval(function() {
    for (var i = 0; i < value_form.length; i++){
      // console.log(value_form[i].innerHTML);
      console.log(i)
      // Rails.fire(value_form[i], 'submit')
      Rails.handleRemote.call(value_form[i])
    }
  }, 15000);
</script>